[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"


[packages]

flask = "*"
kin = { git = "https://github.com/kinfoundation/kin-core-python.git", editable = true}
schematics = "*"
structlog = "*"
requests = "*"
