[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"
codecov = "*"
mypy = "*"
mock = "*"
coverage = "*"
pytest-cov = "*"

[packages]
flask = "*"
schematics = "*"
structlog = "*"
requests = "*"
kin-sdk = "==2.3"
rq = "==0.12.0"
redis = "==2.10.6"
hiredis = "==0.3.0"
gunicorn = "*"
datadog = "*"

[requires]
python_version = "3"
