[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"
codecov = "*"
mypy = "*"
mock = "*"

[packages]
flask = "*"
schematics = "*"
structlog = "*"
requests = "*"
kin = {git = "https://github.com/kinecosystem/kin-core-python.git", ref = "2e2997f"}
rq = "*"
redis = "==2.10.6"
hiredis = "*"
gunicorn = "*"
datadog = "*"

[requires]
python_version = "3"
