-i https://pypi.python.org/simple
certifi==2018.11.29
chardet==3.0.4
click==7.0
datadog==0.26.0
decorator==4.3.0
flask==1.0.2
git+https://github.com/kinecosystem/kin-core-python.git@2e2997f096c6ae9e017a31a56a8a7cc3ff9d1760#egg=kin
gunicorn==19.9.0
hiredis==0.3.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10
markupsafe==1.1.0
redis==2.10.6
requests==2.21.0
rq==0.12.0
schematics==2.1.0
six==1.12.0
structlog==18.2.0
urllib3==1.24.1
werkzeug==0.14.1
